.eventBody {
    padding-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 7vh;
}

.eventCalendar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6FBFF;
    width: 1300px;
    height: 650px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px grey;
}

.modalBackground {
    background-color: rgba(0, 0, 0, 0.6);;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    justify-content: center;

    .modalContent {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        background-color: #F6FBFF;
        min-width: 500px;
        height: 450px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .modalContentR {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        background-color: #F6FBFF;
        min-width: 400px;
        height: 200px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}

.modalInput {
    display: flex;
    flex-direction: column;
}

.modalInput input {
    margin: 5px;
    border: 1px solid #306DF5;
    border-radius: 10px;
    height: 20px;
}

.modalButton {
    display: flex;
    flex-direction: row;
}

.modalButton button {
    margin: 5px;
}

.backButton {
    width: 5vh;
    height: 5vh;
    border: none;
    border-radius: 50vh;
    margin: 4vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #0D6EFD;
    cursor: pointer;

    &:hover {
        background-color: #0954c2;

    }
}