.modalWindow {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

    .contentBody {
        width: 55%;
        background-color: #fbfeff;
        padding: 2%;
        box-sizing: border-box;
        border-radius: 2vh;

        .btns {
            text-align: right;
        }

        .flex {
            display: flex;
            gap: 2vh;
            justify-content: space-between;
            align-items: center;


            .EventDescription {

                .flexRow {
                    display: flex;
                    gap: 2vh;
                    margin: 0;
                    padding: 0;
                }
            }

            .ClientDescription {
                padding: 2%;
                box-sizing: border-box;
                width: 40%;
                height: fit-content;
                background: linear-gradient(240.47deg, #F7FBFF 4.75%, rgba(225, 240, 255, 0.51) 53.07%, rgba(205, 230, 255, 0.38) 96.6%);
                box-shadow: 2px 4px 6px rgba(0, 2, 4, 0.16);
                border-radius: 2vh;
            }

            .description {
                margin: 2vh
            }
        }
    }
}

.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    flex-direction: column;


    .container h2 {
        font-family: 'Sora', sans-serif;
        margin-top: 20vh;
        animation-name: render;
        animation-duration: 2s;
    }

    .container p {
        animation-name: render;
        animation-duration: 4s;
    }

    .logoContainer img {
        width: 25vh;
    }

    .container {
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 20vh;
    }

    @keyframes render {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

    .presentationContainer {
        text-align: center;
    }

    iframe {
        margin-top: 7vh;
        width: 145vh;
        height: 86vh;
    }

    .activeUp {
        animation-name: logo-upper-animate;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
        transform-origin: 47% 62%;
    }

    .activeBottom {
        animation-name: logo-bottom-animate;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
        transform-origin: 47% 80%;
    }

    .logoContainer {
        width: 25vh;
        height: 25vh;
        text-align: center;
        background: #006cff;
        border-radius: 3vh;
    }

    #mid-o-logo {
        transform: translate(15vh, 9vh);
    }

    @keyframes logo-bottom-animate {
        0% {
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
        25% {
            transform: matrix(1, 0, 0, 1, 0, 12);
        }
        50% {
            transform: matrix(1, 0, 0, 1, 0, -15);
        }
        75% {
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
        75% {
            transform: rotate(0);
        }
        85% {
            transform: rotate(390deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes logo-upper-animate {
        0% {
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
        25% {
            transform: matrix(1, 0, 0, 1, 0, -12);
        }
        50% {
            transform: matrix(1, 0, 0, 1, 0, 15);
        }
        75% {
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
        75% {
            transform: rotate(0);
        }
        85% {
            transform: rotate(-390deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }

}

