.topbutton {
    display: inline-block;
    text-align: center;
    width: initial;
    margin: 0.5vh;
}

.topbuttons {
    padding-top: 2vh;
    display: flex;
    align-items: flex-end;
}

.caldescr {
    display: flex;
}

.pdescr {
    padding-right: 3vh;
}

.datedisplay {
    padding-left: 15px;
    width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.heading {
    padding-right: 20vh;
}

.undercalendar {
    display: flex;
    justify-content: center;
    margin: 1%;
}

//---------------------------
.container {
    display: flex;
    flex-direction: column;
    padding: 2%;

    .buttonContainer {
        margin: 0 0 0 auto;

        .button {
            min-width: 150px;
            width: 10%;
            height: 4.5vh;
            margin-bottom: 1.3vh;
            cursor: pointer;
        }
    }

    .tableContainer {
        display: flex;
        flex-direction: column;

        margin: 2%;

        border: 1px solid rgba(0, 0, 0, 0.23);
        box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.24);
        border-radius: 1.5vh;

        flex-basis: 90%;

        table {
            width: 99%;

            table-layout: fixed;
            margin: 4px;

            border: 2px solid white;
            //border-collapse: collapse;

            th {
                font-weight: 400;
            }

            thead {
                border-bottom: 2px solid black;
            }

            .headRow {
                border-top: 2px solid black;
                //border-left: 10px solid #7EA1FF;
                //border-right: 23px solid #7EA1FF;

                &:last-child {
                    border-bottom: 4px solid #7EA1FF;
                }
            }

            .border {
                border-right: 0.5px solid rgba(0, 0, 0, 0.11);
                border-left: 0.5px solid rgba(0, 0, 0, 0.11);
            }

            td, th {
                //border:1px solid rgba(0, 0, 0, 0.23);

                //border-top: 2px solid black;
                height: 7vh;
                text-align: center;

                p {
                    margin: 1vh;
                }

                button {
                    cursor: pointer;
                    margin: 1vh;
                    width: initial;
                }

                .buttonsTable {

                    button {
                        cursor: pointer;
                        margin: 5px;
                        width: 10vh;
                    }

                    .buttonDelete {
                        border-color: #DD5544;
                        color: #DD5544;
                    }

                    .buttonDelete:hover {
                        background: #DD5544;
                        color: #FFFFFF;
                    }
                }
            }

            .collCheckbox {
                width: 4%;
                text-align: center;

            }

            .collCheckboxOut {
                width: 4%;
                text-align: center;
                outline: 1px solid #d5d5d5;

            }

            input {
                margin-bottom: 1vh;
                width: 80%;
            }
        }

        .buttonsContainer {
            width: 100%;

            div {
                float: right;
                padding: 1vh;

                button {
                    cursor: pointer;
                    min-width: 100px;
                    margin: 5px;
                }
            }
        }
    }

    .containerFunction {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 2vh;

        button {
            margin: 0 1vh;
            min-width: 100px;
            cursor: pointer;
        }
    }
}

//
//.collMid {
//    width: 10%;
//}
//
//.collWide {
//    width: 15%;
//}
//
//.collState {
//    width: 12vh;
//}

.headRow {
    background-color: #e9eaee;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.cal {
    background-color: red;
}

.datePickerPart {
    display: flex;
    justify-content: center;

    .datePickerPartLeft {
        margin-left: 25vh;
    }

    .datePickerPartRight {
        justify-content: center;
    }
}

.mailHref {
    color: #1a252f;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: #e3eeff;
    border-radius: 2vh;
    padding: 2%;


    label {
        display: flex;
        flex-direction: column;

        input {
            margin-top: 1vh;
        }
    }
}

.error {
    color: red;
}

.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    flex-direction: column;


    .container h2 {
        font-family: 'Sora', sans-serif;
        margin-top: 20vh;
        animation-name: render;
        animation-duration: 2s;
    }

    .container p {
        animation-name: render;
        animation-duration: 4s;
    }

    .logoContainer img {
        width: 25vh;
    }

    .container {
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 20vh;
    }

    @keyframes render {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

    .presentationContainer {
        text-align: center;
    }

    iframe {
        margin-top: 7vh;
        width: 145vh;
        height: 86vh;
    }

    .activeUp {
        animation-name: logo-upper-animate;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
        transform-origin: 47% 62%;
    }

    .activeBottom {
        animation-name: logo-bottom-animate;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
        transform-origin: 47% 80%;
    }

    .logoContainer {
        width: 25vh;
        height: 25vh;
        text-align: center;
        background: #006cff;
        border-radius: 3vh;
    }

    #mid-o-logo {
        transform: translate(15vh, 9vh);
    }

    @keyframes logo-bottom-animate {
        0% {
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
        25% {
            transform: matrix(1, 0, 0, 1, 0, 12);
        }
        50% {
            transform: matrix(1, 0, 0, 1, 0, -15);
        }
        75% {
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
        75% {
            transform: rotate(0);
        }
        85% {
            transform: rotate(390deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes logo-upper-animate {
        0% {
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
        25% {
            transform: matrix(1, 0, 0, 1, 0, -12);
        }
        50% {
            transform: matrix(1, 0, 0, 1, 0, 15);
        }
        75% {
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
        75% {
            transform: rotate(0);
        }
        85% {
            transform: rotate(-390deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }

}

table {
    border-spacing: 0 1em;
    padding: 1%;
    box-sizing: border-box;
}

td {
    //border: solid 1px #000;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.outline {
    outline: 1px solid #d5d5d5;
}

