.modalWindow {
    height: 90vh;
    padding-top: 12vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.contentHeader {
    padding-top: 3vh;
    text-align: left;
    margin-left: 14vh;

    h1 {
        font-size: 5vh;
        font-weight: 600;
    }
}

.contentBody {
    background: #FFFFFF;
    box-shadow: 22px 17px 58px -11px rgba(0, 0, 0, 0.13);
    border-radius: 4vh;

    width: 100vh;
    //margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh;

    display: block;
    justify-content: space-around;

    .description {
        width: 50vh;

        h3 {
            margin-right: 2vh;
            margin-left: 2vh
        }

        p {
            color: #42474D;
            font-weight: 400;
            font-size: 2vh;
            margin-right: 2vh;
            margin-left: 2vh;
        }
    }
}

.datePart {
    display: flex;
    align-items: center;

    div input {
        width: 12vh;
        height: 4vh;

        border: none;
        margin-left: 2vh;
        border-radius: 1.5vh;

        text-indent: 1.5vh;
    }
}

.popisDate {
    padding-right: 20px;
}

.customerBtn:focus {
    color: #0D6EFD;
}

.cancelButton {
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
}

textarea {
    border: none;
    border-radius: 1.5vh;
    padding: 1%;
    text-indent: 1.5vh;
}

.chooseCustomer {
    select {
        margin-top: 1vh;
    }
}

h3 {
    padding: 0;
    margin: 0;
}


